<link rel="stylesheet" href="/stylesheets/partials/navbar.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

<h6 style="padding-left: 20px;">Team</h6>
<nav>
  <div class="nav-wrapper light-blue lighten-3" id="navbar">
    <a href="/" class="brand-logo">NTHU Badminton</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/info"><i class="material-icons navbarIcon">people</i></a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>
