<link rel="stylesheet" href="/stylesheets">

<div class="row">

  <div class="col s10 offset-s1">
    <div class="input-field col s2">
      <input placeholder="輸入姓名" id="searchName" type="text" class="validate">
    </div>
    <div class="input-field col s2">
      <input placeholder="輸入系別" id="searchMajor" type="text" class="validate">
    </div>
    <div class="input-field col s2">
      <input placeholder="輸入級別" id="searchGrade" type="text" class="validate">
    </div>
    <div class="input-field col s2">
      <input placeholder="輸入性別" id="searchGender" type="text" class="validate">
    </div>
    <table>
      <thead>
        <tr >
          <th class="center">姓名</th>
          <th class="center">學號</th>
          <th class="center">性別</th>
          <th class="center">手機</th>
          <th class="center">生日</th>
          <th class="center">系級</th>
          <th class="center">信箱</th>
          <th class="center">住址</th>
          <th class="center">受益人</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center">簡紹安</td>
          <td class="center">102062118</td>
          <td class="center">男</td>
          <td class="center">0932694730</td>
          <td class="center">1995/07/11</td>
          <td class="center">資工17</td>
          <td class="center">sac840711@gmail.com</td>
          <td class="center">高雄市鼓山區神農路157號12樓</td>
          <td class="center">簡增祥</td>
        </tr>
          <tr>
            <td class="center">曾勤</td>
            <td class="center">102062223</td>
            <td class="center">女</td>
            <td class="center">0987224917</td>
            <td class="center">1995/02/24</td>
            <td class="center">資工17</td>
            <td class="center">jeanzeng123@yahoo.com.tw</td>
            <td class="center">新北市新店區華城路10巷1-5號</td>
            <td class="center">曾維新</td>
          </tr>
      </tbody>
    </table>

  </div>
</div>
