<link rel="stylesheet" href="/stylesheets/info/modify.css">
<div class="row">
  <div class="col s4 offset-s4">
    <form method="post">
      <div class="input-field col s12">
        <input placeholder="輸入姓名" id="inputName" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <input placeholder="輸入學號" id="input" type="text" class="validate">
      </div>
      <div class="col s12" id="genderField">
        <p>性別：</p>
        <p>
          <input name="genderGroup" type="radio" id="genderMale" />
          <label for="genderMale">男</label>
        </p>
        <p>
          <input name="genderGroup" type="radio" id="genderFemale" />
          <label for="genderFemale">女</label>
        </p>
      </div>
      <div class="input-field col s12">
        <input type="date" class="datepicker" id="chooseBirthday">
        <!-- <input placeholder="輸入手機" id="inputPhone" type="text" class="validate"> -->
      </div>
      <div class="input-field col s12">
        <input placeholder="輸入" id="input" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <input placeholder="輸入" id="input" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <input placeholder="輸入" id="input" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <input placeholder="輸入" id="input" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <input placeholder="輸入" id="input" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <input placeholder="輸入" id="input" type="text" class="validate">
      </div>
    </form>
  </div>
</div>
